title {
    string-set: page-title content();
}

.version {
    string-set: version content();
}

h2 {
    string-set: chapter-title content();
}

@page {
    size: a4;
    margin: 30mm 20mm 40mm 20mm;

    @top-left {
        content: string(page-title);
        padding-left: 90px;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 0.75em;
        color: #aaa;
    }

    @top-right {
        content: string(chapter-title);
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 0.75em;
        color: #aaa;
    }

    @bottom-left {
        content: string(version);
        padding-left: 90px;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 0.75em;
        color: #aaa;
    }

    @bottom-right {
        content: counter(page);
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 0.75em;
        color: #aaa;
    }

    @footnotes {
        margin-bottom: -13mm;
    }
}

html { 
    color: #333;
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    counter-reset: chapter -1;
    font-size: 10pt;
}

footer {
    clear: both;
}

a {
    color: #333;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    page-break-inside: avoid;
}

table td,
table th {
    padding: 0.4em 0.5em;
    border: 1px solid #ddd;
    font-size: 0.85em;
    text-align: left;
    vertical-align: top;
}

table.table-extended td,
table.table-extended th {
    padding: 0.2em 0.8em;
}

table ul {
    margin: 0;
    padding-left: 16px;
    list-style-type: square;
}

table ul li {
    padding-left: 0;
}

table .even td {
    background-color: #f5f5f5;
}

pre code {
    font-size: 0.8em;
    display: block;
    border-left: 1px solid #126396;
    padding: 0.5em 0 0.5em 19px;
    background-color: #f6f6f6;
}

figure img {
    max-width: 100%;
}

figure img.inline {
    max-width: 80%;
}

figure figcaption {
    page-break-before: avoid;
    font-size: 0.75em;
}

[title]:after {
    content: attr(title);
    float: footnote;
    counter-increment: footnote;
    font-size: 0.75em;
    footnote-style-position: inside;
    padding-left: 30px;
}

[title]:after::footnote-call {
    content: " [" counter(footnote) "]";
    font-size: 1.3em;
}

[title]:after::footnote-marker {
    content: "[" counter(footnote) "] ";
}

figcaption[title]:after,
figcaption[title]:after::footnote-call {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
p {
    clear: both;
    font-weight: normal;
}

h1,
h2.nonr,
h3.nonr,
h4,
p,
figure figcaption {
    padding-left: 90px;
}

ul,
ol {
    margin-left: 90px;
    padding-left: 30px;
}

figure img.inline,
figure table.inline,
figure pre.inline {
    margin-left: 90px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    font-size: 1em;
}

h2 {
    counter-increment: chapter;
    counter-reset: sub-chapter;
}

h2:before,
h3:before {
    width: 70px;
    padding-right: 20px;
    display: inline-block;
    text-align: right;
}

h2:before {
    content: counter(chapter);
}

h2.nonr:before {
    content: none;
}

h3 {
    counter-increment: sub-chapter;
}

h3:before {
    content: counter(chapter) "." counter(sub-chapter);
}

h3.nonr:before {
    content: none;
}

div.chapter {
    counter-reset: footnote;
    page-break-before: always;
}

.chapter p {
    
}

#toc,
#toc ol,
#figures {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#toc a:after,
#figures a:after {
    content: " " leader(".") " " target-counter(attr(href), page);
}

#toc .chapter {
    display: inline-block;
    padding-left: 60px;
    text-align: left;
    width: 30px;
}

#toc ol {
    margin-top: 2px;
    font-size: 0.9em;
}

#toc > li {
    padding-bottom: 10px;
}

#figures li {
    padding-left: 90px;
}

@media screen {

    html {
        font-size: 0.8em;
    }

    body {
        margin: 3em 0 4em 0;
    }

    p {
    }

    a {
        color: #1b60a7;
    }

    a[href^="http"]:after {
        display: none;
    }

    #second,
    div.chapter {
        border-top: 1px solid #ddd;
    }

    pre.code code,
    p.code code {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 40.5em) {

    html {
        font-size: 1em;
    }

    body {
        margin: 4em 3em 6em 3em;
    }

    #second,
    div.chapter {
        max-width: 700px;
    }

    #front {
        position: relative;
        top: -4em;
        left: -3em;
        width: 100%;
        padding: 4em 3em 2em 3em;
        margin-bottom: -4em;
    }
}
